﻿.container-fluid {
    margin-top: 10px;
}

.resultCount {
    color: red;
}

.tablefirstrow {
    width: 20px;
}

.tablesecondrow {
    width: 100px;
}

.sendMailResult {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: white;
    display: none;
    z-index: 999;
}
