﻿
@{
    ViewBag.Title = "MailSender";
}

<h2>Mail Sender</h2>


<script src="~/Scripts/mytools/mailsender.js"></script>
<div class="row">
    <textarea id="listinput" class="txtArea" rows="10" style="width: 99%; resize: none;"></textarea>
</div>
<div style="clear: both;"></div>
<div class="row">
    <input id="split" type="text" placeholder="Spliter:" style="float: left;" />
    <div style="margin: 5px 0 0 10px; float: left;">
        <input id="Checkbox1" type="checkbox" style="float: left;" />
        <label for="Checkbox1" style="float: left; margin-left: 5px;">Hide order number.</label>
    </div>
</div>
<div style="clear: both;"></div>
<div class="row">
    <button id="splitle" class="btn" type="button">Listele</button>
    <span id="resultCount" class="resultCount"></span>
    <div id="errorCount" class="resultCount" style="margin-left: 10px;"></div>
</div>
<div style="clear: both;"></div>
<div id="sendMailResult"></div>
<div id="liste" class="row">
    <table class="table table-hover">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>