﻿@model MyTools.Models.Mail
@{
    ViewBag.Title = "SendMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Mail Gönder</h2>
@using (Html.BeginForm())
{
    @Html.TextBoxFor(x => x.KullaniciAdi)<br/>
    @Html.TextBoxFor(x => x.Sifre)<br/>
    @Html.TextBoxFor(x => x.GonderilecekMail)<br/>
    @Html.TextBoxFor(x => x.Konu) <br/>
    @Html.TextAreaFor(x => x.Mesaj)<br/>
    @Html.TextBoxFor(x => x.GondericiMail)<br/>
    <input type="submit" value = "Mail Gönder" />
}
