﻿
@{
    ViewBag.Title = "Split";
}

<script src="~/Scripts/mytools/split.js"></script>
<h2>Split</h2>
<div class="row">
    <textarea id="listinput" class="txtArea" rows="10" style="width: 99%; resize: none;"></textarea>
</div>
<div style="clear: both;"></div>
<div class="row">
    <input id="split" type="text" placeholder="Spliter:" style="float: left;" />
    <div style="margin: 5px 0 0 10px; float: left;">
        <input id="Checkbox1" type="checkbox" style="float: left;" />
        <label for="Checkbox1" style="float: left; margin-left: 5px;">Hide order number.</label>
    </div>
</div>
<div style="clear: both;"></div>
<div class="row">
    <button id="splitle" onclick="Spliter();" class="btn" type="button">Splitle</button>

    <span id="resultCount"></span>
</div>
<div style="clear: both;"></div>
<div id="liste" class="row">
    <table></table>
</div>
