﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet" />
    <link href="~/Content/css/docs.css" rel="stylesheet" />
    <link href="~/Content/css/Site.css" rel="stylesheet" type="text/css" />


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/mytools/menu.js"></script>
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>


    <meta name="description" content="The description of my page" />
</head>
<body>
    <div class="navbar navbar-inner navbar-fixed-top" role="navigation">

        <div class="container">
            <a class="brand" href="#">Project name</a>
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span2">
                <ul id="toolsmenu" class="nav nav-tabs nav-stacked">
                    <li>
                        <a>Ana</a>
                    </li>
                    <li>
                        <a href="/Home/Split">Split</a>
                    </li>
                    <li>
                        <a href="/Home/MailSender">Mail Sender</a>
                    </li>
                    <li>
                        <a href="/Home/SendMail">Single Send Mail</a>
                    </li>
                </ul>
            </div>
            <div class="span10">
                @RenderBody()
            </div>

        </div>
    </div>
</body>
</html>